/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

header
{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
  ;
}

footer
{
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 20px;
}

.content-body
{
  background-color: aqua;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;

}
